@model CNPMNC.Models.PHANHOI

@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/User.cshtml";
}
@using (Html.BeginForm("Lienhe", "Trangchu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="app__container">
        <div class="grid wide">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row sm-gutter app__content">

                <div class="col l-12 m-12 c-12">

                    <div class="home-product">

                        <div class="row sm-gutter">
                            <label for="" class="contact-title">Liên hệ với chúng tôi</label>

                            <div class=" col l-12 contact-main">

                                <div class="col l-7 contact-content">
                                    <div class="contact-content_input">
                                        <label for="" class="" style="font-size: 1.7rem; text-transform: uppercase; margin-bottom: 10px;">Hãy gửi góp ý của bạn về cửa hàng</label>
                                    </div>

                                    <div class="contact-content_input">
                                        <label for="" class="contact-content_input-label">Nhập email:</label>
                                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "contact-content_input-box", @type = "email", @placeholder = "Email của bạn...", @required = true } })

                                    </div>
                                    <div class="contact-content_input">
                                        <label for="" class="contact-content_input-label">Nhập số điện thoại của bạn:</label>
                                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "contact-content_input-box", @type = "tel", @placeholder = "Số điện thoại của bạn...", @required = true } })

                                    </div>
                                    <div class="contact-content_input">
                                        <label for="" class="contact-content_input-label"></label>
                                        <p style="color: red; font-size: 1.4rem; width: 413.99px;">
                                            @if (ViewBag.error != null)
                                            {@ViewBag.error}
                                        </p>

                                    </div>
                                    @*<p style="color:red;text-align:center;font-size:1.4rem">
                                        @if (ViewBag.error != null)
                                        {@ViewBag.error}
                                    </p>*@
                                    <div class="contact-content_input">
                                        <label for="" class="contact-content_input-label">Góp ý của bạn:</label>
                                        @Html.TextAreaFor(model => model.PHANHOI1, new { @class = "contact-content_input-box", @type = "text", @style = "height: 175px", @cols = "30", @rows = "10", @required = true })

                                    </div>
                                    <div class="contact-content_input-2">
                                        <input type="submit" name="" class="contact-content_input-submit" value="Gửi">
                                    </div>
                                </div>
                                <div class="col l-5 maps">
                                    <div class="phone-contact">
                                        <h2 style="font-size: 1.7rem; margin-top: 0;">Liên hệ qua số điện thoại:</h2>
                                        <p style="font-size: 1.6rem;">0938624141</p>

                                    </div>
                                    <div class="address">
                                        <h2 style="font-size: 1.7rem; margin-top: 0;">Địa chỉ cửa hàng:</h2>
                                        <p style="font-size: 1.6rem;">890 Nguyễn Trãi, Phường 10, Quận 1</p>

                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.292876539444!2d106.59799477490913!3d10.865314289288877!2m3
                            !1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b088de30f3b%3A0xd2140740d360f705!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYy
                            BOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRQLiBIQ00gKEhVRkxJVCkgLSBDxqEgc-G7nyBIw7NjIE3DtG4!5e0!3m2!1svi!2s!4v1669556217878!5m2!1svi!2s"
                                            width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>
        </div>
    </div>
}

