@model IEnumerable<CNPMNC.Models.DIENTHOAI>

@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/User.cshtml";
}

<h2>SearchPage</h2>

@*@foreach (var item in Model)
    {
        @item.TENDT
        @item.HINHANH1
    }*@
<div class="app__container">
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="col l-12 m-12 c-12">
                <div class="home-product">
                    <div class="row sm-gutter">
                        <!-- Product item -->
                        @foreach (var item in Model)
                        {
                            <div class="col l-2-4 m-4 c-6">
                                <div class="home-product-item">
                                    <a href="@Url.Action(" Details", new { id=item.DIENTHOAIID })" class="home-product-item__link">
                                        <img class="home-product-item__image" src="@Url.Content(item.HINHANH1)" alt="">
                                    </a>
                                    <h4 class="home-product-item__name">@Html.DisplayFor(modelItem => item.TENDT)</h4>
                                    <div class="home-product-item__price">
                                        <span class="home-product-item__price-old">@Html.DisplayFor(modelItem => item.GIABAN)</span>
                                        <span class="home-product-item__price-current">@Html.DisplayFor(modelItem => item.GIAGIAM)</span>
                                    </div>
                                    <div class="home-product-item__action">
                                        <span class="home-product-item__like home-product-item--liked">
                                            <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                            <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                        </span>

                                        <div class="home-product-item__rating">
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="home-product-item__star--gold fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="home-product-item__sold">Đã bán 280</span>
                                    </div>

                                    <div class="home-product-item__origin">
                                        @*<span class="home-product-item__brand">MCBooks</span>
                                            <span class="home-product-item__origin-name">NXB Hồng Đức</span>*@
                                    </div>

                                    <div class="home-product-item__favourite">
                                        <i class="fas fa-check"></i>
                                        <span>Yêu thích</span>
                                    </div>
                                    <div class="home-product-item__sale-off">
                                        <span class="home-product-item__sale-off-percent">@Html.DisplayFor(modelItem => item.PHANTRAMGIAM)%</span>
                                        <span class="home-product-item__sale-off-label">GIẢM</span>
                                    </div>
                                    <div class="home-product-item__cart" data-product-id="@item.DIENTHOAIID">
                                        <a href="/ShoppingCart/AddToCart/@item.DIENTHOAIID" class="home-product-item__cart-add">
                                            <i class="home-product-item__cart-icon fas fa-shopping-cart"></i>
                                            <button class="home-product-item__cart-order">Thêm vào giỏ hàng</button>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        }








                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

