@model CNPMNC.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<style>
    .dashboard-items__detail {
        color: blue;
        font-size: 1.2rem;
        width: fit-content;
    }
    .dashboard-items__detail:hover {
        color: lightblue;
    }
</style>

<div class="home-product">
    <div class="row sm-gutter">
        <!-- Product items -->
        <div class="dashboard">
            <div class="dashboard-group">
                <div class="dashboard-items">
                    <h2 class="dashboard-items__title">Khách hàng</h2>
                    <p class="dashboard-items__total">@Model.TotalUsers</p>
                    <a href="@Url.Action("Taikhoan","TaikhoanUser")" class="dashboard-items__detail">Xem chi tiết</a>
                </div>
                <div class="dashboard-items">
                    <h2 class="dashboard-items__title">Tổng đơn hàng mới chờ xử lý</h2>
                    <p class="dashboard-items__total">@Model.TotalNewOrders</p>
                    <a href="@Url.Action("Donhang","Donhang")" class="dashboard-items__detail">Xem chi tiết</a>
                </div>
                <div class="dashboard-items">
                    <h2 class="dashboard-items__title">Tổng sản phẩm</h2>
                    <p class="dashboard-items__total">@Model.TotalProducts</p>
                    <a href="@Url.Action("Dienthoai","Dienthoai")" class="dashboard-items__detail">Xem chi tiết</a>
                </div>
            </div>
            <div class="dashboard-group">
                <div class="dashboard-items">
                    <h2 class="dashboard-items__title">Tổng doanh thu</h2>
                    <p class="dashboard-items__total">@string.Format("{0:0,0 đ}", @Model.TotalRevenue)</p>
                    <p class="dashboard-items__detail">Xem chi tiết</p>
                </div>
                <div class="dashboard-items">
                    <h2 class="dashboard-items__title">Tổng đơn hàng đã giao thành công</h2>
                    <p class="dashboard-items__total">@Model.TotalOrders</p>
                    <a href="@Url.Action("Donhang","Donhang")" class="dashboard-items__detail">Xem chi tiết</a>
                </div>
                <div class="dashboard-items">
                    <h2 class="dashboard-items__title">Tài khoản nhân viên</h2>
                    <p class="dashboard-items__total">@Model.TotalAdmin</p>
                    <a href="@Url.Action("NhanVien","NhanVien")" class="dashboard-items__detail">Xem chi tiết</a>
                </div>
            </div>
            <div class="dashboard-group" style="justify-content: flex-start; margin: 0 20px;">
                <img src="@Url.Action("Chart")" style="width: 100%; height: 700px; object-fit: fill; box-shadow: 0 7px 8px 0 rgb(0 0 0 / 10%); "/>
            </div>
        </div>
    </div>
</div>

