@model CNPMNC.Models.HANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h2 class="title-delete">Xóa thông tin</h2>

<h3 class="title-delete_ask">Bạn có chắc muốn xóa thông tin này?</h3>
<div class="delete-form">
    <h4>Hãng điện thoại</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.TENHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH)
        </dt>

        <dd>
            <img height="150px" width="150px" src="@Url.Content(Model.HINH)" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Xóa" class="delete-form_btn-delete" /> |
    @Html.ActionLink("Trở về", "Hang", "Hang", new { @class = "delete-form_btn-back" })
</div>
    }
</div>
