
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CNPMNC.Models.HANG>

@{
    ViewBag.Title = "Hang";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
    var stt = 0;
}

<div class="home-product">
    <div class="row sm-gutter">
        <!-- Product items -->
        <div class="home-product-title">
          

            <div class="home-product-title-label">
                <h2 class="home-product-title-label__heading">Quản lý các danh mục hãng</h2>
            </div>
            <div class="button-create-list">
                @using (Html.BeginForm("Hang", "Hang", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", ViewBag.CrurentFilter as string, new { @class = "input-qldm-create", @type = "text", @placeholder = "Nhập tên hãng muốn tìm...", @tabindex = "0" })
                    <input type="submit" value="Tìm kiếm" class="input-qldm-save">
                    
                    @*<p>
                        @Html.TextBox("SearchString", ViewBag.CrurentFilter as string, new { @class = "input-qldm-create", @type = "text", @placeholder = "Nhập tên hãng muốn tìm...", @tabindex = "0" })
                        <input type="submit" value="Tìm kiếm" class="input-qldm-save">
                    </p>*@
                }
                <a href="@Url.Action("Create", "Hang")">
                    <button class="create-list">Tạo mới</button>
                </a>

                @*<p>
                    @Html.ActionLink("Thêm mới", "Create", "Hang", new { @class = "create-list" })
                </p>*@
                @*<input class="input-qldm-create" type="text" placeholder="Nhập tên hãng tạo danh mục..." tabindex="0">
        <button class="input-qldm-save">Tạo mới</button>*@
                <!-- <a href="./QL-danhmuc-create.html">
        <button class="create-list">Tạo mới</button>
    </a> -->
            </div>
            <div class="home-product-title-contents">
                <div class="table-case col l-5">
                    <table>
                        <tbody>
                            <tr style="background-color: #faf2c0;">
                                <th>STT</th>
                                <th>Tên hãng</th>
                                <th>Logo</th>
                                <th>Chỉnh sửa</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                stt = stt + 1;
                                <tr>
                                    <td>@stt</td>

                                    <td> @Html.DisplayFor(modelItem => item.TENHANG)</td>
                                    <td><img width="50px" src="@Url.Content(item.HINH)" alt=""></td>
                                    <td>
                                        <div class="td-edit">
                                            @Html.ActionLink(" ", "Edit", new { id = item.HANGID },
                                                         new { @class = "td-edit-button_edit fas fa-solid fa-pen" })
                                            @Html.ActionLink(" ", "Delete", new { id = item.HANGID },
                                                             new { @class = "td-edit-button_delete fas fa-solid fa-trash" })
                                        </div>



                                    </td>
                                </tr>

                            }
                            



                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 pagelist">
                    @using (Html.BeginForm("Hang", "Hang", FormMethod.Get))
                    {
                        <p>
                            Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                        </p>
                    }
                    @Html.PagedListPager(Model, page => Url.Action("Hang", new { page, size = ViewBag.currentSize }))
                </div>

              
            </div>

        </div>
    </div>
</div>
