

@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CNPMNC.Models.THONGSOKT>

@{
    ViewBag.Title = "TSKT";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
    var stt = 0;
}

<div class="home-product">
    <div class="row sm-gutter">
        <!-- Product items -->
        <div class="home-product-title">


            <div class="home-product-title-label">
                <h2 class="home-product-title-label__heading">Quản lý thông số kĩ thuật  </h2>
            </div>
            <div class="button-create-list">
               
                <a href="@Url.Action("Create", "TSKT")">
                    <button class="create-list">Tạo mới</button>
                </a>
            </div>
            <div class="home-product-title-contents">
                <div class="table-case col l-12">
                    <table class="table-create-sanpham">
                        <tbody>
                            <tr style="background-color: #faf2c0;">
                                <th>STT</th>
                                <th>
                                    Điện thoại
                                </th>
                                <th>
                                    Màn hình
                                </th>
                                <th>
                                    Độ phân giải
                                </th>
                                <th>
                                    Hệ điều hành
                                </th>
                                <th>
                                    Chip xử lý
                                </th>
                                <th>
                                    Rom
                                </th>
                                <th>
                                    Ram
                                <th>
                                    Mạng di động
                                </th>
                                <th>
                                    Khe sim
                                </th>
                                <th>
                                    Pin
                                </th>
                                <th>Chỉnh sửa</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                stt = stt + 1;
                                <tr>
                                    <td>@stt</td>
                                    <td> @(item.DIENTHOAI==null?"":item.DIENTHOAI.TENDT)</td>
                                    <td> @Html.DisplayFor(modelItem => item.MANHINH)</td>
                                    <td> @Html.DisplayFor(modelItem => item.DOPHANGIAI)</td>
                                    <td> @Html.DisplayFor(modelItem => item.HEDH)</td>
                                    <td> @Html.DisplayFor(modelItem => item.CHIPXULY)</td>
                                    <td> @Html.DisplayFor(modelItem => item.ROM)</td>
                                    <td> @Html.DisplayFor(modelItem => item.RAM)</td>
                                    <td> @Html.DisplayFor(modelItem => item.MANGDIDONG)</td>
                                    <td> @Html.DisplayFor(modelItem => item.SOKESIM)</td>
                                    <td> @Html.DisplayFor(modelItem => item.PIN)</td>
                                    <td class="td-edit">
                                        @Html.ActionLink(" ", "Edit", new { id = item.THONGSOKTID },
                                                              new { @class = "td-edit-button_edit fas fa-solid fa-pen" })
                                        @Html.ActionLink(" ", "Details", new { id = item.THONGSOKTID },
                                                             new { @class = "td-edit-button_detail fas fa-solid fa-eye" })
                                        @Html.ActionLink(" ", "Delete", new { id = item.THONGSOKTID },
                                                         new { @class = "td-edit-button_delete fas fa-solid fa-trash" })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 pagelist">
                    @using (Html.BeginForm("TSKT", "TSKT", FormMethod.Get))
                    {
                        <p>
                            Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                        </p>
                    }
                    @Html.PagedListPager(Model, page => Url.Action("TSKT", new { page, size = ViewBag.currentSize }))
                </div>


            </div>
        </div>
    </div>
</div>
