@model CNPMNC.Models.ADMIN

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

@using (Html.BeginForm("Create", "NhanVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="home-product">
        <div class="row sm-gutter">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!-- Product items -->
            <div class="home-product-title" style="height: 550px;">
                <div class="home-product-title-label">
                    <h2 class="home-product-title-label__heading">Thêm mới nhân viên</h2>
                </div>

                <div class="button-create-list">
                    <!-- <a href="">
            <button class="create-list">Tạo mới</button>
        </a> -->
                </div>
                <div class="home-product-title-contents-sp" style="margin-top: 25px;">
                    <div class="home-product-input-create-sp">
                        <label for="input">Tên</label>
                        @Html.EditorFor(model => model.TENAD, new { htmlAttributes = new { @class = "input-qlsp-create", @type = "text", @placeholder = "Nhập tên của nhân viên...", @tabindex = "0", @required = true } })
                        @Html.ValidationMessageFor(model => model.TENAD, "", new { @class = "text-danger" })
                    </div>
                    <div class="home-product-input-create-sp">
                        <label for="input">Email</label>
                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "input-qlsp-create", @type = "text", @placeholder = "Nhập email của nhân viên...", @tabindex = "0", @required = true } })
                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                        <p style="color:red;text-align:center">
                            @if (ViewBag.error2 != null)
                            {@ViewBag.error2}
                        </p>
                    </div>
                    <div class="home-product-input-create-sp">
                        <label for="input">Mật khẩu</label>
                        @Html.EditorFor(model => model.MATKHAU, new { htmlAttributes = new { @class = "input-qlsp-create", @type = "text", @placeholder = "Nhập mật khẩu...", @tabindex = "0", @required = true } })
                        @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })
                        <p style="color:red;text-align:center">
                            @if (ViewBag.error1 != null)
                            {@ViewBag.error1}
                        </p>
                    </div>
                </div>
                <div class="home-product-title-contents-sp" style="margin-top: 25px;">
                    <div class="home-product-input-create-sp ">
                        <label for="input">Chọn chức vụ</label>
                        @{Html.RenderAction("ChonCV", "NhanVien"); }

                        @Html.ValidationMessageFor(model => model.ADMINID, "", new { @class = "text-danger" })
                    </div>
                    <div class="home-product-input-create-sp" style="width: 250px;">

                    </div>
                    <div class="home-product-input-create-sp" style="width: 250px;">

                    </div>
                </div>

                <div class="home-product-title-contents-2" style="margin-top: 25px; justify-content:center;">
                    <input type="submit" value="Lưu" class="input-qldm-save" />
                    <div class="button-create-list2">
                        <a href="@Url.Action("NhanVien", "NhanVien")">
                            <button type="button" class="create-list">Quay về</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


}

