@model List<CNPMNC.Models.DONHANG>
@{
    ViewBag.Title = "LichSuDonHang";
    Layout = "~/Views/Shared/User.cshtml";

}

<style>
    .order-list {
        list-style: none;
        display: flex;
        margin: 10px 0;
        overflow: hidden;
        white-space: nowrap;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #e3e3e3;
    }
    .order-list__items {
        font-size: 1.3rem;
        padding: 15px 15px;
    }
    a .order-list__items {
        color: black;
    }
    a .order-list__items:hover {
        color: var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
    }
    .active-items {
        color: var(--primary-color);
        border-bottom: 3px solid var(--primary-color);
    }
    .tr-order th {
        font-size:1.4rem;
    }
    .tr-order__detail td {
        font-size: 1.4rem;
    }
    .tr-order__detail td a {
        font-size: 1.4rem;
    }
</style>
<div class="app__container">
    <div class="grid wide">


        <div class="row sm-gutter app__content">

            <div class="col l-12 m-12 c-12">

                <div class="home-product">
                    <div class="row sm-gutter">
                        @if (Model.Count == 0)
                        {
                            <div class="col l-2">
                                <div class="user-img">
                                    <img src="@Url.Content(Session["Hinh"].ToString())" style="width: 82px; height: 82px; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.1); object-fit: cover;" />
                                    <p class="user-img_name">@Session["Ten"]</p>
                                    <div style=" border-bottom: 1px solid var(--primary-color); width: 100%;"></div>
                                    <div style="display: flex; flex-direction:column; align-items: flex-start;">
                                        <a href="@Url.Action("DetailUser", "DNhap")" class="user-img_link">
                                            Tài khoản của bạn
                                        </a>
                                        <a href="@Url.Action("LichSuDonHang", "DNhap")" class="user-img_link">
                                            Đơn mua
                                        </a>
                                        <a href="@Url.Action("DangXuat", "DNhap")" class="user-img_link">
                                            Đăng xuất
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="col l-10">
                                <div class="home-product-title">
                                    <h1>Đơn hàng của bạn</h1>
                                    <ul class="order-list" id="categories">
                                       <a href="@Url.Action("LichSuDonHang", "DNhap")" class="@(!Request.QueryString.HasKeys() || Request.QueryString["TRANGTHAIID"] == "" ? "active-items" : "")">
                                          <li class="order-list__items">Tất cả</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 1 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "1" ? "active-items" : "")">
                                          <li class="order-list__items">Đặt hàng thành công</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 2 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "2" ? "active-items" : "")">
                                          <li class="order-list__items">Đang duyệt</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 3 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "3" ? "active-items" : "")">
                                          <li class="order-list__items">Đã duyệt</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 4 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "4" ? "active-items" : "")">
                                          <li class="order-list__items">Đang chuẩn bị hàng</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 5 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "5" ? "active-items" : "")">
                                          <li class="order-list__items">Đang giao</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 6 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "6" ? "active-items" : "")">
                                          <li class="order-list__items">Giao hàng thành công</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 7 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "7" ? "active-items" : "")">
                                          <li class="order-list__items">Hủy đơn</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 8 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "8" ? "active-items" : "")">
                                          <li class="order-list__items">Giao hàng lại</li>
                                       </a>
                                    </ul>
                                    <p style="margin-top:25px; text-align:center;margin-bottom:25px">
                                        <strong style="font-size: 20px;">Không có đơn hàng nào.</strong>
                                    </p>

                                </div>

                            </div>
                            
                        }
                        else
                        {
                            <div class="col l-2">
                                <div class="user-img">
                                    <img src="@Url.Content(Session["Hinh"].ToString())" style="width: 82px; height: 82px; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.1); object-fit: cover;" />
                                    <p class="user-img_name">@Session["Ten"]</p>
                                    <div style=" border-bottom: 1px solid var(--primary-color); width: 100%;"></div>
                                    <div style="display: flex; flex-direction:column; align-items: flex-start;">
                                        <a href="@Url.Action("DetailUser","DNhap")" class="user-img_link">
                                            Tài khoản của bạn
                                        </a>
                                        <a href="@Url.Action("LichSuDonHang","DNhap")" class="user-img_link">
                                            Đơn mua
                                        </a>
                                        <a href="@Url.Action("DangXuat", "DNhap")" class="user-img_link">
                                            Đăng xuất
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="col l-10">
                                <div class="home-product-title">
                                    <h1>Đơn hàng của bạn</h1>
                                    <ul class="order-list" id="categories">
                                       <a href="@Url.Action("LichSuDonHang", "DNhap")" class="@(!Request.QueryString.HasKeys() || Request.QueryString["TRANGTHAIID"] == "" ? "active-items" : "")">
                                          <li class="order-list__items">Tất cả</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 1 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "1" ? "active-items" : "")">
                                          <li class="order-list__items">Đặt hàng thành công</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 2 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "2" ? "active-items" : "")">
                                          <li class="order-list__items">Đang duyệt</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 3 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "3" ? "active-items" : "")">
                                          <li class="order-list__items">Đã duyệt</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 4 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "4" ? "active-items" : "")">
                                          <li class="order-list__items">Đang chuẩn bị hàng</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 5 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "5" ? "active-items" : "")">
                                          <li class="order-list__items">Đang giao</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 6 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "6" ? "active-items" : "")">
                                          <li class="order-list__items">Giao hàng thành công</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 7 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "7" ? "active-items" : "")">
                                          <li class="order-list__items">Hủy đơn</li>
                                       </a>
                                       <a href="@Url.Action("LichSuDonHang", "DNhap", new { TRANGTHAIID = 8 })" class="@((Request.QueryString["TRANGTHAIID"] ?? "") == "8" ? "active-items" : "")">
                                          <li class="order-list__items">Giao hàng lại</li>
                                       </a>
                                    </ul>

                                    <table>
                                        <tr class="tr-order">
                                            <th>Mã đơn hàng</th>
                                            <th>Ngày đặt hàng</th>
                                            <th>Tổng tiền</th>
                                            <th>Phương thức thanh toán</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                        </tr>
                                        @foreach (var donHang in Model)
                                        {
                                            <tr class="tr-order__detail">
                                                <td>@donHang.DONHANGID</td>
                                                <td>  @string.Format("{0:dd/MM/yyyy HH:mm:ss}", donHang.NGAYTAO)</td>
                                                <td> @string.Format("{0:0,0 đ}", donHang.THANHTIEN) </td>
                                                <td  style="color:@(donHang.PTTHANHTOAN!=null && donHang.PTTHANHTOAN.TENPT=="COD"?"#32CD32":donHang.PTTHANHTOAN!=null && donHang.PTTHANHTOAN.TENPT=="Thẻ ngân hàng"?"#DC143C":"")">@(donHang.PTTHANHTOAN==null?"":donHang.PTTHANHTOAN.TENPT)</td>
                                                <td style="color:@(donHang.TRANGTHAIDH!=null && donHang.TRANGTHAIDH.TENTT=="Đặt hàng thành công"?"#32CD32":donHang.TRANGTHAIDH!=null && donHang.TRANGTHAIDH.TENTT=="Hủy đơn"?"#DC143C":"")"> @(donHang.TRANGTHAIDH==null?"":donHang.TRANGTHAIDH.TENTT)</td>
                                                <td><a href="@Url.Action("ChiTietDonHang", "DNhap", new { id = donHang.DONHANGID })" class="back-to-index">Xem chi tiết</a></td>
                                            </tr>
                                        }
                                    </table>
                                </div>

                            </div>
                        }



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
